@model GenerateKeyforPartners.Models.SMSSvcRoot
@{
    ViewBag.Title = "DisplaySecretKey";
    Layout = "~/Shared/_Layout.cshtml";
}
<form id="TestForm">
        <div style="border:2px solid #80808023; padding:33px; margin-top:18px;">
            <div class="form-group">
                <label for="lblPartnername" class="col-sm-2" style="font-size:14px;font-weight:normal; font-weight:bold;" >Partner Name</label>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model => model.PartnerName, ViewBag.Source as SelectList, "-------Select---------", new { @class = "form-control", @id = "ddlPartner", onchange = "testing()" })
                </div>

                <div>
                    <button id="btnsubmit" onclick="Submit()" class="btn btn-success">
                        <span class="ui-button-text">Generate Secret Key</span>
                    </button>
                    <button id="btnReset" onclick="Reset()" class="btn btn-warning">
                        <span class="ui-button-text">Reset</span>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label for="lblSecretKey" class="col-sm-2" style="font-size: 14px; font-weight: normal; font-weight:bold;">Secret Key</label>
                <div class="col-sm-10">
                    <Label ID="lbldisplay" Text="" style="font-size: 14px; font-weight: normal;"></Label>
                </div>
            </div>

        </div>
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script type="text/javascript">
    function Reset() {
        $("#ddlPartner").val('');
        $("#lbldisplay").text('');
        $("#btnsubmit span").text('Generate Secret Key');
    }

    function testing() {
        debugger;
        var DropDownSelectedValue = $("#ddlPartner :selected").val();
        if (DropDownSelectedValue != null) {

            $.ajax({
                url: "@Url.Action("DisplaySecretKeyValue", "Home")",
                type: "POST",
                data: $("#TestForm").serialize(),
                dataType: 'json',
                success: function (data) {                    
                    var test = data;                    
                    if (test.IsActive == true) {
                        $("#btnsubmit span").text("Update Secret Key");
                    }
                    else {
                        $("#btnsubmit span").text("Generate Secret Key");
                    }
                    $("#lbldisplay").text(test.SecretKey.replace(/"/g, ''));                                        
                },
                error: function () {
                    alert("Error");
                }
            });
        }
    }


    $('form').on('submit', function (event) {
        event.preventDefault();        
    });

    function Submit() {               
        debugger;
        var DropDownSelectedValue = $("#ddlPartner :selected").val();
        if (DropDownSelectedValue == "") {
            alert("Please select a partner!");
            return false;
        }
        if (DropDownSelectedValue != null) {

            $.ajax({
                url: "@Url.Action("DisplaySecretKeyDetails", "Home")",
                type: "POST",
                data: $("#TestForm").serialize(),
                dataType: 'json',
                success: function (data) {
                    
                    var test = JSON.stringify(data);                                        
                    $("#lbldisplay").text(test.replace(/"/g, ''));                                        
                },
                error: function () {
                    alert("Error");
                }                
            });
            return false;
        }
    }
</script>



